{% extends 'shop/basic.html' %}
{% block title %}Exchange Car{% endblock %}
{% block body %}

<form action="{%  url 'result' %}" accept-charset="utf-8" class="d-grid gap-1">{% csrf_token %}

  <div class="mx-auto" style="width: 400px;"><br>
    <label>Present Price </label>
    <br><input class=" selectpicker form-control" id="Present_Price" name="Present_Price" required="required">  
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Kms Driven</label>
    <input type="Kms_Driven" class="form-control" id="Kms_Driven" name="Kms_Driven" required="required">
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Owner</label>
    <input type="Owner" class="form-control" id="Owner" name="Owner" required="required">
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Old Car</label>
    <input type="Old_Car" class="form-control" id="Old_Car" name="Old_Car" required="required">
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Price rate change in %</label>
    <input type="Price_rate_change" class="form-control" id="Price_rate_change" name="Price_rate_change" required="required">
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Fuel Type </label>
    <br><select class="form-control" name="Fuel_Type_Petrol" id="fuel" required="required">
      <option value="Petrol">Petrol</option>
      <option value="Diesel">Diesel</option>
      <option value="Diesel">CNG</option>
    </select>
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Seller Type Individual</label>
    <select type="Seller_Type_Individual" class="form-control" id="Seller_Type_Individual" name="Seller_Type_Individual" required="required">
      <option value="Dealer">Dealer</option>
      <option value="Individual">Individual</option>
    </select>
  </div>

  <div class="mx-auto" style="width: 400px;">
    <label>Type of Car</label>
    <select type="Transmission_Manual" class="form-control" id="Transmission_Manual" name="Transmission_Manual" required="required">
      <option value="Mannual">Manual Car</option>
      <option value="Automatic">Automatic Car</option>
    </select>

    <br>


    <a href="{% url 'result' %}"><button id="entry" type="submit " class="btn btn-outline-dark">Calculate the Selling Price</button><br>

</form><br>


  
<h4 style="margin-left: 0cm;">{{ prediction_text }}<h4><br>




{% endblock %}