{% extends 'shop/basic.html' %}
{% block title %} {{product.product_name}} -- My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
       <img src="/media//{{product.image}}" width="144px" height="240px">
    </div><br>

    <div class="row">
        <h6>Do you want Exchange Car</h6>
        <a href ="{% url 'SellCar' %}"> <button class="btn btn-dark cart my-2">Sell your old Car</button></a>
     </div>


        </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p>{{product.desc}}</p>
        <h5>Price - &#x20B9 {{product.price}} Lakhs</h5>
    </div>
        </div>
</div>
{% endblock %}
